// fonts
$Noto-sans-jp: "Noto Sans JP", sans-serif;
$system: "ヒラギノ角ゴシック", Hiragino Sans, Meiryo, sans-serif;
$Cabinet-grotesk: "Cabinet Grotesk", sans-serif;
$Satoshi: "Satoshi", sans-serif;
$Verdana: "Verdana", sans-serif;
$Lato: "Lato", sans-serif;
$font80: clamp(80px, calc(80vw / 15), 86px);
$font42: clamp(20px, calc(42vw / 15), 42px);
$font36: clamp(30px, calc(36vw / 15), 36px);
$font28: clamp(20px, calc(28vw / 15), 28px);
$font26: clamp(20px, calc(26vw / 15), 26px);
$font24: clamp(19px, calc(24vw / 15), 24px);
$font22: clamp(18px, calc(22vw / 15), 22px);
$font20: clamp(17px, calc(20vw / 15), 20px);
$font18: clamp(16px, calc(18vw / 15), 18px);
$font16: clamp(15px, calc(16vw / 15), 16px);
$font15: clamp(14px, calc(15vw / 15), 15px);
$font14: clamp(14px, calc(14vw / 15), 14px);
$font13: clamp(13px, calc(13vw / 15), 13px);
$font10: clamp(8px, calc(10vw / 15), 10px);
