:root {
  --trs-hover: 0.4s cubic-bezier(0.26, 0.16, 0.1, 1);
  --lts: 0.05em;
}

// colors
$color-blue: #1A4DAA;
$color-yellow: #FAEE56;
$color-light-blue: #ebf2fa;
$color-piction-blue: #4db8fa;
$color-white: #ffffff;
$color-black: #000;
$color-dark-gray: #474a4e;
$color-darker-gray: #808080;
$color-light-gray: #ababab;
$color-gray: #cccccc;
$color-green: #60c200;
$color-orange: #FF9900;
$color-error: #bb101d;
$bg-white: #fff;
$bg-gray: #f5f5f5;
