@import '../mixin/_mediaquery';
@import '../mixin/_hover';
@import '../mixin/_line-clamp';
@import '../mixin/_vw';
@import '../base/variables';
@import '../base/fonts';

.download-pickup {
  padding-block: 15rem;
  &:is(.downloadPage *) {
    padding-block-start: 0;
    padding-block-end: 2rem;
  }
}

.download-pickup__list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  .downloadPage & {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
  gap: 1.5rem;
  @include sp {
    margin-top: 2.8rem;
    gap: 2rem;
  }
}

.download-pickup-item {
  width: 100%;
  background: $color-blue;
  position: relative;
  border-radius: 1rem;
  .downloadPage & {
    max-width: calc((100% - 3rem) / 3);
  }
  @include sp {
    .downloadPage & {
      max-width: none;
    }
  }
  .label-tag {
    color: $color-white;
  }
}

.download-pickup-item__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 3.5rem 4rem;
  padding-inline: 3rem;
  @include sp {
    padding-block: 3rem 3.5rem;
    padding-inline: 2.5rem;
  }
}

.download-pickup-item__image {
  margin-top: 1.3rem;
  aspect-ratio: 1140 / 640;
  display: block;
  overflow: hidden;
  @include sp {
    margin-top: 1rem;
  }
}

.download-pickup-item__title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; // threshold
  color: $color-white;
  font-size: $font18;
  line-height: 1.7;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  @include sp {
    margin-top: 1.5rem;
    font-size: 1.8rem;
  }
}

.download-pickup-item__btn {
  width: 100%;
  height: 5rem;
  margin-block-start: auto;

  .buttonItem {
    font-size: $font13;
  }
}

.download-pickup-item__tag-list {
  display: flex;
  flex-wrap: wrap;
  & > * + * {
    margin-inline-start: 0.4rem;
  }
}
