.entries-list-by-category__heading {
  & > * + * {
    margin-block-start: 0.5rem;
  }
}

.entries-list-by-category__heading-inner {
  inline-size: 100%;
  padding-block: 1.6rem;
  padding-inline: 3rem;
  background-color: $color-white;
  border-left: 0.5rem solid $color-blue;
  border-top-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include sp {
    padding-block: 1.5rem;
    padding-inline: 2rem;
  }
}

.entries-list-by-category__title {
  font-size: clamp(2.2rem, 0.463vw + 1.8rem, 2.4rem);
  font-weight: 700;
  font-family: $system;
  line-height: 1.5;
}

.entries-list-by-category__meta {
  display: flex;
  align-items: center;
  @include sp {
    justify-content: space-between;
  }
  &.pc {
    @include sp {
      display: none;
    }
  }
  &.sp {
    display: none;
    @include sp {
      display: flex;
    }
  }
  & > * + * {
    margin-inline-start: 3rem;
  }
}


.entries-list-by-category__entries-count {
  font-size: clamp(1rem, 0.926vw + 0.2rem, 1.4rem);
  display: flex;
  align-items: center;
  & > * + * {
    margin-inline-start: 0.5rem;
    @include sp {
      margin-inline-start: 0.4rem;
    }
  }
  & > .number {
    line-height: 1.5;
    font-family: $Verdana;
    font-size: clamp(2rem, 1.852vw + 0.5rem, 2.8rem);
    font-weight: bold;
  }
}
