.grid-entries {
  --minimum: 28rem;
  --gap: 5rem;
  width: 100%;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--minimum), 100%), 1fr));
  overflow: hidden;
  @include sp {
    row-gap: 1.5rem;
  }
  &.with-line {
    --line-offset: calc(6rem / 2);
    --line-thickness: 0.1rem;
    row-gap: 6rem;
    column-gap: 8rem;
    @include sp {
      --line-offset: calc(4rem / 2);
      row-gap: 4rem;
    }
  }
}


.grid-entries__item {
  position: relative;
  &::after {
    content: '';
    height: var(--line-thickness);
    width: 100%;
    background-color: rgba($color-blue, 0.2);
    display: block;
    position: absolute;
    inset-block-end: calc(var(--line-offset) * -1);
    inset-inline-start: 0;
  }
}
